/* ============================== 
 *	Styles adapted to seESOM   
 *	2015-10-20					  
 * ============================== */


@charset "UTF-8";


/* TITLE BAR					 
 * ============================= */

/* Style the title bar header */
header{
	position: 					fixed;
  	z-index: 					1030;
    width:         				100%;
    height:        				21px;
    background:    				-webkit-linear-gradient(top, rgb(255,255,255) 0, rgb(225,225,225) 100%);
    border-bottom: 				1px solid rgb(205,205,205);
    -webkit-app-region: 		drag;
    -webkit-user-select: 		none;
    -webkit-overflow-scrolling: touch;
    overflow-x: 				visible;
    }

header>ul{
    float:        left;
    text-align:   left;
    line-height:  0;
    padding-left: 6px;
    }
header>ul>li,
header>ul>li>a{
    display: inline-block;
    }
header>ul{
    float: left;
    }

/* Style the title bar list elements */    
header>ul>li>a{
    width:              13px;
    height:             13px;
    margin:             4px 4px 4px 4px;
    background-size: 	13px 13px;
    background-repeat: 	no-repeat;
    opacity: 			0.4;
    filter: 			alpha(opacity=40);
    -webkit-transition: -webkit-transform 200ms;
    -webkit-app-region: no-drag;
    }
  
header>ul>li>a:hover {
	opacity: 	1.0;
    filter: 	alpha(opacity=100);
}
    
a#windowControlClose{
    background-image: url('./pictures/close.svg');
    }
a#windowControlMaximize{
    background-image: url('./pictures/maximize.svg');
    }
a#windowControlMinimize{
    background-image: url('./pictures/minimize.svg');
    }
    
    
/* TOOL BAR
 * ============================= */ 

.icon {
	font-size:	1.3em;
	margin:     3px 3px 3px 3px;
}

 #contigLoader
{
    display:	none;
}

 #densityLoader
{
    display:	none;
}

.btn{
	background-image:	none;
	border:				none;
	box-shadow:			none;

}


/* MAP AREA
 * ============================= */

body {
	display: 	inline-block;
	position:	absolute;
	top:		0;
	bottom:		0;
	width:		100%;
	overflow:	scroll;
}
 
#Maparea {
	display: 	inline-block;
	position:	absolute;
	top:		65px;
	overflow:	scroll;
}
 
#Tiparea{
	position:			relative;
    background-color: 	#F8F8F8;
    border: 			1px solid #E7E7E7;
    border-radius: 		3px;
    font-size: 			8px;
	left:				-200px;
	top:				100px;
}

